[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "corrtable"]
	path = corrtable
	url = https://github.com/lauralambert99/corrtable
